body{
  background-image:url('./images/robot.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.para{
  text-align: center;
  color:#f4d142;
  font-style: italic;
  font-size: 20px;
}
.alignment{text-align: center;
font-size: 20px;}

.squadlist{
  text-align: center;
  color:white;
  font-size:20px;

}
.text-color{color:white;
font-size:20px;
padding-left:180px;}
.text-squad-rw{color:white;
font-size:20px;
padding-left:180px;}
